@model CountToNextBirthday.Models.NextBirthday
@{
    ViewBag.Title = "Dagar kvar tills du fyller år";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    

</head>
<body>
    <h1 id="header">Dagar kvar till din nästa födelsdag???</h1>

    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(Model => Model.Birthdate)
        </div>

        <div id="birthdayTextbox">
            @Html.EditorFor(Model => Model.Birthdate)
        </div>

        <div id="button">
            <input type="submit" value="Skicka" />
        </div>
    }
        
    
    
</body>
</html>